node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

backend/node_modules/
backend/build/
backend/dist/
backend/coverage/
backend/.DS_Store
backend/*.log
backend/.env*
backend/bin/
backend/obj/*
backend/obj/Debug/net8.0/SmartHomeHub.Backend.AssemblyInfo.cs
backend/obj/Debug/net8.0/SmartHomeHub.Backend.AssemblyInfoInputs.cache
